@import "../global/variables";

.main {
    letter-spacing: 0.5px;
    font-weight: 300;
    background-color: $steel-blue;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        font-weight: $light;
        font-size: 26px;
        margin-bottom: 50px;
    }
        
    p {
        font-size: 18px;
    }
}

#finish {
    display: none;
    text-align: center;
}
  
/* Results */
#results {
    display: none;
}
  
#results h2 {
    margin-bottom: 0;
}
  
#emotion {
    font-size: 96px;
    margin-bottom: 0;
}
  
#replay {
    margin-top: 20px;
}
   
  
/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
  
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
  