@import "../global/variables";

.weather {
    color: $black;
    padding-bottom: 3rem;
    
    .page-header {
        border-bottom: 1px solid $black;
        display: inline-block;
        padding-bottom: 1.5rem;
    
        h1 {
            margin: 0;
        }
    }

    section {
        padding-top: 3.125rem;
        text-align: center;
    }

    form {
        input {
            border-radius: 0;
            border: 1px solid $black;
            padding: .125rem .5rem;
        }

        button {
            background-color: $black;
            border: none;
            color: $aqua;
            line-height: 1.389;
            padding: .25rem .75rem;
        }
    }
    
    h1,
    h2 {
        letter-spacing: 1px;
    }
    
    h2 {
        font-weight: $light;
    }

    h4 {
        margin-bottom: 2rem;
    }
    
    &-icon {
        font-size: 4.5rem;
    }

    .temp-buttons {
        margin: 0;
        
        button {
            background-color: transparent;
            border: 1px solid $black;
            color: $black;
            margin-top: .25rem;
        }
    }
    
    .error {
        color: $red;
    }
}

