@import "../global/variables";

.weather {
    color: $black;
    padding-bottom: 3rem;
    
    .page-header {
        text-align: center;
        width: 100%;
        
        h1 {
            border-bottom: 1px solid $black;
            display: inline-block;
            margin: 0;
            padding-bottom: 1.5rem;
        }
    }

    section {
        padding-top: 3.125rem;
        text-align: center;

        &.location {
            display: flex;
            align-items: center;
            justify-content: center;

            form {
                input {
                    border-radius: 0;
                    border: 1px solid $black;
                    padding: .5rem;
                    width: 250px;
                }
        
                button {
                    background-color: $black;
                    border: none;
                    color: $aqua;
                    line-height: 1.389;
                    margin-left: .5rem;
                    padding: .625rem .75rem;
                }
            }

            .geo-button {
                background-color: $black;
                border: none;
                color: $white;
                margin-top: .75rem;
                padding: .5rem .75rem;
                width: 100%;
            }
        }
    }
    
    h1,
    h2 {
        letter-spacing: 1px;
    }
    
    h2 {
        font-weight: $light;
    }

    h4 {
        margin-bottom: 2rem;
    }
    
    &-icon {
        font-size: 4.5rem;
    }

    .temp-buttons {
        margin: 0;
        
        button {
            background-color: transparent;
            border: 1px solid $black;
            color: $black;
            margin-top: .25rem;
        }
    }
    
    .error {
        color: $red;
    }
}

