@import "../global/variables";

.word-clock {
    padding: 0 1.5rem 1rem;
    text-align: center;

    @media (min-width: 576px) {
        padding: 0;
    }

    .title {
        margin-bottom: 0;
    }
    
    .smallprint {
        margin: .25rem 0 1.25rem;
    }
    
    #digital-clock,
    .clock-text {
        font-family: $mono-font;
    }
    
    .clock-text {
        color: $black;
        font-size: 1rem;
        letter-spacing: 19px;
        line-height: 2rem;
        margin: 0 auto;
        text-transform: lowercase;

        @media (min-width: 576px) {
            font-size: 2.5rem;
            letter-spacing: 19px;
            line-height: 3.25rem;
            max-width: 500px;
        }

        @media (min-width: 768px) {
            font-size: 2.75rem;
            letter-spacing: 20px;
            line-height: 3.25rem;
            max-width: 570px;
        }
    }
    
    .on {
        color: $red;
    }
}
