// Font Weights
$light: 300;
$reg: 400;
$bold: 700;

// Colours
$black: #222;
$blue: #6495ed;
$grey: #808080;
$grey-light: #d3d3d3;
$grey-light-slate: #778899;
$pink: #f6d1d1;
$red: #cf2727;
$red-light: #cd5c5c;
$steel-blue: #4682b4;
$white: #fff;
$yellow: #ffe66b;
