body {
    font-family: 'bely', 'Merriweather', serif;
    font-size: 1.125rem;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 960px;
}

section {
    margin: 0 auto;
    max-width: 632px;
}
